<form action="{{ action }}" method="post">
  <input type="hidden" name="ap_merchant" value="{{ ap_merchant }}" />
  <input type="hidden" name="ap_amount" value="{{ ap_amount }}" />
  <input type="hidden" name="ap_currency" value="{{ ap_currency }}" />
  <input type="hidden" name="ap_purchasetype" value="{{ ap_purchasetype }}" />
  <input type="hidden" name="ap_itemname" value="{{ ap_itemname }}" />
  <input type="hidden" name="ap_itemcode" value="{{ ap_itemcode }}" />
  <input type="hidden" name="ap_returnurl" value="{{ ap_returnurl }}" />
  <input type="hidden" name="ap_cancelurl" value="{{ ap_cancelurl }}" />
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn primary" />
    </div>
  </div>
</form>
